/**** Table styles ****/
table.listTable {
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
}

table.listTable th {
	font-size: 12px;
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: #dedede;
}

table.listTable td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: black;
}

.hoverTable tr:hover {
	background: #b3e9ff;
	/*	background: CAEFFD; 
	color: #0768B3; */
	cursor: pointer;
}

.header1 {
	font-family: Arial, Sans-serif, Verdana, Tahoma;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #669966;
	padding: 3px;
	margin-top: 1px;
	margin-bottom: 18px;
}

.headerconf1 {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	color: #8F0000;
	padding: 3px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.headerconf2 {
	font-family: Arial, Sans-serif, Verdana, Tahoma;
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
	color: black;
	padding: 3px;
	margin-top: 1px;
	margin-bottom: 1px;
}

/*
@media screen and ( max-width: 768px ) {
    #top-bar {
        display: none;
    }
}
@media screen and ( min-width: 768px ) {
    #off-canvas-wrap {
        display: none;
    }
}
*/