/********** Main content ***********/
div.content {
	background-color: white;
	border-radius: 3px;
	margin-left: 21%;
	margin-top: 65px;
	margin-bottom: 30px;
	padding: 5px;
	max-width: 900px;
}

div.bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 2px;
	background-color: #222;
	opacity: 0.9;
	color: white;
	font-size: 0.7rem;
	text-align: center;
}

/******* Navigation ********/

/* Topnav */
ul.topnav {
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.9;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #333;
	font-size: 0;
}

ul.topnav li {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 1.0rem;
}

ul.topnav a {
	float: left;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li:hover {
	background-color: #993030;
}

ul.topnav a.active {
	background-color: #FF5050;
}

ul.topnav li.title {
	float: left;
	width: 21%;
	font-size: 0.8rem;
	margin: auto;
}

ul.topnav li.name {
	color: white;
	float: right;
	font-size: 0.9rem;
}

ul.topnav li.has-dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
ul.dropdown {
	display: none;
	position: absolute;
	float: none;
	background-color: #333;
	z-index: 1;
	margin-top: 50px;
	margin-left: 0px;
}

ul.dropdown a {
	float: none;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}

/* Show the dropdown menu on hover */
ul.topnav li.has-dropdown:hover ul.dropdown {
	display: block;
}

/* Sidenav */
ul.sidenav {
	list-style-type: none;
	margin-left: 10px;
	width: 19%;
	height: 90%;
	padding: 0;
	border-radius: 3px;
	background-color: #F0F0F0;
	position: fixed;
	overflow: auto;
}

ul.sidenav li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

ul.sidenav li.active a {
	background-color: #4d994d;
	color: white;
	padding: 8px 16px;
}

ul.sidenav li:not (.active ) a:hover {
	background-color: #7acc7a;
}

img.sidenav {
	margin-left: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Subnav */
ul.subnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 0.25rem;
	overflow: hidden;
	border-bottom: 1px solid #004F69;
}

ul.subnav li {
	float: left;
	margin-left: 3px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.0rem;
}

ul.subnav li a {
	display: block;
	color: #444;
	text-align: center;
	padding: 0.1875rem 0.5rem;
	text-decoration: none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

ul.subnav li:not (.active ) a:hover {
	background-color: #00BFFF;
}

ul.subnav li.active a {
	cursor: default;
	font-weight: normal;
	background-color: #008CBA;
	color: white;
}

/* listTable */
table.listTable {
	border-width: 1px;
	border-color: #444;
	border-style: solid;
	border-collapse: collapse;
	margin-top: 5px;
	margin-left: 5px;
}

table.listTable th {
	font-size: 1.0rem;
	border-width: 1px;
	padding: 1px;
	background-color: #ddd;
	border-style: solid;
	border-left-color: #888;
	border-right-color: #888;
}

table.listTable td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-left-color: #888;
	border-right-color: #888;
}

.hoverTable tr:hover {
	background: #b3e9ff;
	cursor: pointer;
}

/* Responsive design changes */
@media screen and (max-width: 900px) {
	ul.topnav {
		position: static;
	}
	ul.topnav li.title {
		width: auto;
	}
	ul.topnav li a {
		padding: 14px 8px;
	}
	ul.sidenav {
		width: 100%;
		height: auto;
		position: static;
	}
	img.sidenav {
		display: none;
	}
	ul.sidenav li a {
		float: left;
		padding: 15px 8px;
	}
	ul.sidenav li.active a {
		padding: 15px 8px;
	}
	div.content {
		margin-left: 0;
		margin-top: 0;
	}
	div.bottom {
		position: static;
	}
}

@media screen and (max-width: 400px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
	ul.sidenav {
		margin-top: 0;
	}
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
}